[submodule "88W8801/marvell_wlan_host_driver"]
	path = 88W8801/marvell_wlan_host_driver
	url = https://github.com/glifeather/marvell_wlan_host_driver.git
	branch = main
[submodule "88W8801/marvellwifi"]
	path = 88W8801/marvellwifi
	url = https://github.com/JianRuiqian/marvellwifi.git
	branch = master
